@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --facebook: hsl(221, 44%, 41%);
  --gray: hsl(0, 0%, 59%);
  --instagram: radial-gradient(circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf);
  --light-red: hsl(354, 100%, 66%);
  --pale-blue: hsl(223, 100%, 88%);
  --twitter: hsl(197, 100%, 47%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  display: flex;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  text-align: center;
}

::-webkit-input-placeholder {
  color: var(--pale-blue);
}

::-moz-placeholder {
  color: var(--pale-blue);
}

:-ms-input-placeholder {
  color: var(--pale-blue);
}

:-moz-placeholder {
  color: var(--pale-blue);
}

input.placeholderdark::-webkit-input-placeholder {
  color: var(--very-dark-blue);
}

.container {
  margin: 5rem 2rem 1rem;
}

.intro h1 {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 2rem;
}

.intro h1 span {
  color: #000000;
  font-weight: bold;
}

.intro p {
  font-size: 1rem;
}

form {
  margin-top: 2rem;
  position: relative;
}

form input {
  border: 1px solid var(--pale-blue);
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 80%;
}

form button {
  background-color: var(--blue);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  width: 80%;
}

form button:hover {
  background-color: hsl(223, 78%, 70%);
}

.form p {
  display: none;
  font-size: 0.7rem;
  font-style: italic;
  margin-left: 3em;
}

.dashboard {
  margin-top: 4rem;
}

.dashboard img {
  height: auto;
  max-width: 100%;
}

.social {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.fab {
  align-items: center;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  height: 2.2rem;
  justify-content: center;
  margin: 5rem 0.5rem 0;
  width: 2.2rem;
}

.fa-facebook-f:hover {
  background: var(--facebook);
  color: #fff;
}

.fa-twitter:hover {
  background: var(--twitter);
  color: #fff;
}

.fa-instagram:hover {
  background: var(--instagram);
  color: #fff;
}

.copywright {
  color: var(--gray);
  font-size: 0.7rem;
  margin-top: 2rem;
}

.attribution {
  bottom: 0;
  font-size: 0.5rem;
  font-size: 11px;
  left: 20%;
  position: absolute;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  form {
    display: flex;
  }

  form button {
    margin-left: 10rem;
    margin-top: 0;
    width: 7rem;
  }

  form input {
    padding-right: 10rem;
  }

  .form p {
    font-size: 0.7rem;
    position: absolute;
  }

  .container {
    margin: 5rem 5rem 2rem;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 1.5rem;
  }

  .social {
    margin-top: 0%;
  }
}

@media only screen and (min-width: 850px) {
  form {
    margin: 0;
    padding: 0;
  }

  form input {
    border-radius: 5rem;
    padding-right: 10rem;
  }

  form button {
    border-radius: 5rem;
    padding: 0 4.5rem;
  }

  .form p {
    margin-left: 2rem;
  }

  .container {
    margin: 5rem 25rem 2rem;
  }

  .intro {
    margin-bottom: 2rem;
  }
}